{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Agenda Fluida{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'tarefas/css/style.css' %}">
</head>
<body>

    <header>
        <h2>Agenda Fluida</h2>

        {% block search_bar %}
        <form action="{% url 'home' %}" method="GET">
            <input type="text" name="search" placeholder="Pesquisar tarefa...">
            <button type="submit">Buscar</button>
        </form>
        {% endblock %}

        <div class="usuario-info">
            <span>Olá, <strong>{{ user.username }}</strong></span>
            <a href="{% url 'logout' %}" style="margin-left: 15px; color: red;">Sair</a>
        </div>
    </header>

    <div class="layout-app">
        
        <aside class="sidebar">
            <h3 class="sidebar-titulo">Meus Filtros</h3>
            <nav class="menu-lateral">
                <a href="{% url 'home' %}" class="menu-item">📅 Todas (Calendário)</a>
                <a href="{% url 'categoria' 'Estudo' %}" class="menu-item">📚 Estudo</a>
                <a href="{% url 'categoria' 'Pessoal' %}" class="menu-item">👤 Pessoal</a>
                <a href="{% url 'categoria' 'Financeiro' %}" class="menu-item">💰 Financeiro</a>
                <a href="{% url 'categoria' 'Compromisso' %}" class="menu-item">🤝 Compromissos</a>
            </nav>
        </aside>

        <main class="conteudo-principal">
            {% block content %}
            {% endblock %}
        </main>

    </div>

</body>
</html>